<div class="container">
        <div class="row">
                <div class="col-12">
                        <div class="search-bar-container ui  segment">
                                <div class="dev-logo-container  ui right icon">
                                        <img class="dev-logo" src="../../assets/logo/dev-logo.svg" alt="">
                                </div>
                                <div class="input-container ui left icon input">
                                        <input type="text" placeholder="Search...">
                                        <i class="search icon"></i>
                                </div>
                        </div>
                </div>

        </div>
        <div>
                <app-card-article>

                </app-card-article>
        </div>

</div>
